body {
    background-color: #edf2f7;
    color: #333;
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.main {
    max-width: 500px;
    margin: 0 auto;
}

.section-img {
    text-align: center;
    margin: 30px;
}

.section-msg {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 0px #9494941a;
    padding: 10px 30px;
}

.input-code {
    margin: auto;
    display: block;
    cursor: pointer;
    border: none;
    background-color: #2d3748;
    color: #fff;font-size: 16px;
    padding: 15px 25px;
    border-radius: 5px;
    width: 110px;
    outline: none;
    margin-bottom: 30px;
    text-align: center;
    position: relative;
}

.copy-code {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    position: absolute;
    left: 0;
    left: 50%;
    display: none;
    opacity: 0;
    transform: translate(-50%, -130px);
}

.foot {
    text-align:center;
    padding:30px 0;
    color:#555;
    font-size:15px
}